<div class="col-md-8 py-3">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Region</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coffee of coffees">
        <th scope="row">{{coffee.id}}</th>
        <td>{{coffee.nombre}}</td>
        <td>{{coffee.tipo}}</td>
        <td>{{coffee.region}}</td>
      </tr>
    </tbody>
  </table>
</div>
<a>Total café de origen: {{totalOrigen}}</a><br>
<a>Total café blend: {{totalBlend}}</a>
